In [2]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import json
import requests
import geopandas as gpd
%matplotlib inline

## Dyspnea scale
This dataset contains the information of 137 patients, where their id, date test and dyspnea scale is stored.

In [4]:
dyspnea = pd.read_excel(f'./Data/Disnea.xlsx')

In [5]:
dyspnea.groupby(['Examen','FE_ALTA']).count()

                                         id
Examen                       FE_ALTA
ESCALA DE DISNEA mMRC EPOC 0 2016-06-02   1
                             2016-06-10   1
                             2016-09-01   1
                             2019-07-06   1
                             2019-07-12   1
...                                      ..
ESCALA DE DISNEA mMRC EPOC 4 2018-02-26   1
                             2018-03-20   1
                             2018-04-09   1
                             2018-05-10   1
                             2019-07-12   1

[125 rows x 1 columns]

In [6]:
# Hacemos copia para no da;ar los datos
dyspnea_copy = dyspnea

There are 4 different categories, therefore we can convert them to categorical type for the final dataset

In [7]:
dyspnea_copy['Examen'].replace("ESCALA DE DISNEA mMRC EPOC 0","0",inplace=True)

dyspnea_copy['Examen'].replace("ESCALA DE DISNEA mMRC EPOC 1","1",inplace=True)

dyspnea_copy['Examen'].replace("ESCALA DE DISNEA mMRC EPOC 2","2",inplace=True)

dyspnea_copy['Examen'].replace("ESCALA DE DISNEA mMRC EPOC 3","3",inplace=True)

dyspnea_copy['Examen'].replace("ESCALA DE DISNEA mMRC EPOC 4","4",inplace=True)

# Conver to categorical data (scale 0-4)

dyspnea_copy['Examen'] = dyspnea_copy['Examen'].astype('category')

dyspnea_copy.groupby('Examen').count()

        id  FE_ALTA
Examen
0        6        6
1       34       34
2       52       52
3       25       25
4       20       20

In [8]:
a = dyspnea_copy.groupby(['id']).count()
dyspnea_copy.columns

Index(['id', 'FE_ALTA', 'Examen'], dtype='object')

In [9]:
print(max(dyspnea_copy['FE_ALTA']))
print(min(dyspnea_copy['FE_ALTA']))

2019-07-26 00:00:00
2015-06-13 00:00:00