In [1]:
import omnivida_loader as ov
import copy
import pandas as pd
import numpy as np

In [2]:
adherence, adherence_change = ov.get_adherence_dataset() 
ad=copy.deepcopy(adherence) 
Adher = copy.deepcopy(adherence) 
Adher.set_index(['id', 'fe_entrevista'], inplace=True)
Adher.sort_index(inplace=True)

In [3]:
adherence_s= adherence[adherence.cuantitativo_ponderado < 4]
adherence_n= adherence[adherence.cuantitativo_ponderado == 4]

In [4]:
Todos=ad['id'].unique()                  #List of all of the ids.

id_list_s_not=adherence_s['id'].unique() #List of id's that are not 'siempre'
ads = ad[~ad['id'].isin(id_list_s_not)].copy()  #ads : Dataframe of id's that are always adherent.

id_list_n_not=adherence_n['id'].unique() #List of id's that are not 'nunca'
adn = ad[~ad['id'].isin(id_list_n_not)].copy()  #adn : Dataframe of id's that never were adherent.

Siempre_ad=ads['id'].unique()            #List of id's that are 'siempre'
Nunca_ad=adn['id'].unique()              #List of id's that are 'nunca'

Intermitentes = [x for x in Todos if x not in Siempre_ad]
Intermitentes = [x for x in Intermitentes if x not in Nunca_ad]
Intermitentes = np.array(Intermitentes)  #Intermitentes: list of id's that are 'Intermitent'

Todosmenosint=[x for x in Todos if x not in Intermitentes] 
Todosmenosint = np.array(Todosmenosint)  #List of id's that are 'Intermitent'

adi = ad[~ad['id'].isin(Todosmenosint)]  #adi: Dataframe of id's that has intermitent adherence.
# zzz=adi['id'].unique()                 #list of id's that are 'Intermitent' == Intermitentes.

In [5]:
Nunca_ad;  #Lista de ids que nucna fueron adherentes.
Siempre_ad; #Lista de ids que siempre fueron adherentes.
Intermitentes; #LIsta de los ids que estan intermitentes.

In [6]:
#ads; #ads : Dataframe of id's that are always adherent.
#adn; #adn : Dataframe of id's that never were adherent.
adi.head() #adi: Dataframe of id's that has intermitent adherence.

,id,fe_entrevista,morisky_green,smaq1,smaq2,espa,nm_espa,cualitativo_ponderado,cuantitativo_ponderado,categoria
8,502989,2014-08-22,0,0,2,1,5.0,0,2,M
9,502989,2014-10-28,0,0,2,0,5.0,0,2,M
10,502989,2014-11-21,1,1,4,0,5.0,0,4,M
11,502989,2015-01-07,0,1,3,0,5.0,0,3,M
12,502989,2015-01-14,1,1,3,0,5.0,0,3,M

In [7]:
first = Adher.loc[524006]  #Para mirara el id especifico en el dataframe original.
first.head(40)

,morisky_green,smaq1,smaq2,espa,nm_espa,cualitativo_ponderado,cuantitativo_ponderado,categoria
fe_entrevista,,,,,,,,
2015-01-05,1,1,4,1,6.0,1,4,A-
2015-09-10,1,1,4,1,6.0,1,4,A-
2015-10-13,0,0,4,0,4.0,0,4,A-
2015-11-09,0,0,4,1,6.0,0,4,A-
2016-06-02,1,1,4,1,6.0,1,4,A-
2016-10-07,1,1,4,1,6.0,1,4,A-
2016-11-08,1,1,4,1,6.0,1,4,A-
2017-01-27,1,1,4,1,6.0,1,4,A-
2017-04-12,1,1,4,1,6.0,1,4,A-
2017-05-10,0,0,3,1,6.0,0,3,A-
2017-07-28,1,1,4,1,6.0,1,4,A-
2017-08-25,1,1,4,1,6.0,1,4,A-
2018-10-03,1,1,4,1,6.0,1,4,A-
2019-05-28,1,1,4,1,6.0,1,4,A-

In [8]:
#adi=copy.deepcopy(adi) 
#adi['cuantitativo_ponderado'] = adi['cuantitativo_ponderado'].astype('int64')
middle_group_scores = adi.groupby('id').cuantitativo_ponderado.mean().reset_index()  #Sortearlo por el promedio.

In [9]:
middle_group_scores.head()

       id  cuantitativo_ponderado
0  502989                3.428571
1  506808                3.750000
2  512938                3.727273
3  524006                3.928571
4  529410                3.857143

In [10]:
#Aqui faltaria segmentar los ids por el top25% el bottom25% y los del medio.
#Asignar a cada id las categorias nuevas: siempre adherente, adherente(-) , medio, no adherente(+), Nunca adherente.
middle_group_scores[['cuantitativo_ponderado']].sort_values(by = 'cuantitativo_ponderado', ascending=True)
#top25 = a+
#medio = M
#bottom25 = n+

     cuantitativo_ponderado
205                2.250000
74                 2.250000
40                 2.500000
53                 2.500000
246                2.500000
238                2.500000
201                2.666667
249                2.666667
87                 2.750000
152                2.800000
18                 2.857143
228                2.869565
242                2.875000
56                 3.000000
111                3.000000
119                3.000000
156                3.000000
120                3.000000
57                 3.000000
86                 3.000000
41                 3.000000
77                 3.000000
36                 3.000000
81                 3.000000
34                 3.000000
159                3.000000
130                3.000000
241                3.000000
244                3.000000
243                3.000000
..                      ...
236                3.888889
80                 3.900000
186                3.900000
248                3.900000
123                3.900000
157                3.900000
19                 3.900000
209                3.909091
255                3.909091
50                 3.909091
164                3.909091
63                 3.909091
226                3.909091
138                3.909091
126                3.909091
172                3.909091
33                 3.909091
179                3.913043
28                 3.916667
96                 3.916667
125                3.923077
94                 3.923077
170                3.923077
54                 3.923077
180                3.928571
3                  3.928571
37                 3.928571
132                3.933333
150                3.944444
109                3.964286

[261 rows x 1 columns]

In [11]:
intermediate_adherence_thresholds = adi.groupby('id').cuantitativo_ponderado.mean().quantile([0.25, 0.75])

In [12]:
intermediate_adherence_thresholds

0.25    3.333333
0.75    3.785714
Name: cuantitativo_ponderado, dtype: float64

In [13]:
scores_t75 = intermediate_adherence_thresholds[0.75]
scores_t25 = intermediate_adherence_thresholds[0.25]
middle_group_scores["categoria"] = np.where(middle_group_scores['cuantitativo_ponderado'] > scores_t75, 'A-', 
(np.where(middle_group_scores['cuantitativo_ponderado'] < scores_t25, 'N+', 'M')))
middle_group_scores

          id  cuantitativo_ponderado categoria
0     502989                3.428571         M
1     506808                3.750000         M
2     512938                3.727273         M
3     524006                3.928571        A-
4     529410                3.857143        A-
5     530049                3.545455         M
6     530244                3.500000         M
7     537607                3.800000        A-
8     539423                3.800000        A-
9     539998                3.833333        A-
10    547351                3.600000         M
11    558454                3.750000         M
12    566408                3.500000         M
13    567706                3.714286         M
14    578953                3.600000         M
15    590760                3.428571         M
16    604106                3.777778         M
17    607428                3.333333         M
18    609536                2.857143        N+
19    614273                3.900000        A-
20    617991                3.333333         M
21    622031                3.333333         M
22    652857                3.181818        N+
23    664032                3.800000        A-
24    665012                3.333333         M
25    667026                3.705882         M
26    673765                3.631579         M
27    679525                3.625000         M
28    682268                3.916667        A-
29    684163                3.666667         M
..       ...                     ...       ...
231  1837707                3.600000         M
232  1850455                3.500000         M
233  1854024                3.857143        A-
234  1857274                3.666667         M
235  1857541                3.800000        A-
236  1862248                3.888889        A-
237  1884922                3.727273         M
238  1892175                2.500000        N+
239  1893592                3.800000        A-
240  1895017                3.750000         M
241  1913157                3.000000        N+
242  1916799                2.875000        N+
243  1919132                3.000000        N+
244  1923816                3.000000        N+
245  1934050                3.333333         M
246  1940079                2.500000        N+
247  1940127                3.750000         M
248  1952172                3.900000        A-
249  1952829                2.666667        N+
250  1960113                3.555556         M
251  1968766                3.857143        A-
252  1969196                3.333333         M
253  1978721                3.625000         M
254  1985014                3.000000        N+
255  1990453                3.909091        A-
256  1994641                3.333333         M
257  1995390                3.500000         M
258  1997065                3.714286         M
259  1997825                3.666667         M
260  1998401                3.833333        A-

[261 rows x 3 columns]

In [14]:
adi = adi.merge(middle_group_scores[['id', 'categoria']], how='left')
adi.head()

,id,fe_entrevista,morisky_green,smaq1,smaq2,espa,nm_espa,cualitativo_ponderado,cuantitativo_ponderado,categoria
0,502989,2014-08-22,0,0,2,1,5.0,0,2,M
1,502989,2014-10-28,0,0,2,0,5.0,0,2,M
2,502989,2014-11-21,1,1,4,0,5.0,0,4,M
3,502989,2015-01-07,0,1,3,0,5.0,0,3,M
4,502989,2015-01-14,1,1,3,0,5.0,0,3,M

In [15]:
ads['categoria']='A'
adn['categoria']='N'

In [16]:
adherence = pd.concat([ads, adi, adn], ignore_index=True).sort_values(by=['id', 'fe_entrevista']).reset_index(drop=True)
adherence

,id,fe_entrevista,morisky_green,smaq1,smaq2,espa,nm_espa,cualitativo_ponderado,cuantitativo_ponderado,categoria
0,500547,2016-07-11,1,1,4,1,6.0,1,4,A
1,500547,2019-03-14,1,1,4,1,6.0,1,4,A
2,500547,2019-10-11,1,1,4,1,6.0,1,4,A
3,500547,2019-12-09,1,1,4,1,6.0,1,4,A
4,500547,2020-01-16,1,1,4,1,6.0,1,4,A
5,500547,2020-03-25,1,1,4,1,6.0,1,4,A
6,500547,2020-05-08,1,1,4,1,5.0,1,4,A
7,500588,2019-04-26,1,1,4,1,6.0,1,4,A
8,502989,2014-08-22,0,0,2,1,5.0,0,2,M
9,502989,2014-10-28,0,0,2,0,5.0,0,2,M
10,502989,2014-11-21,1,1,4,0,5.0,0,4,M
11,502989,2015-01-07,0,1,3,0,5.0,0,3,M
12,502989,2015-01-14,1,1,3,0,5.0,0,3,M
13,502989,2015-06-25,1,1,4,1,6.0,1,4,M
14,502989,2016-01-12,0,0,3,1,6.0,0,3,M
15,502989,2016-01-15,1,1,4,1,6.0,1,4,M
16,502989,2017-01-03,0,0,3,1,6.0,0,3,M
17,502989,2017-03-21,1,1,4,1,6.0,1,4,M
18,502989,2017-07-10,1,1,4,1,6.0,1,4,M
19,502989,2017-08-08,1,1,4,1,6.0,1,4,M
20,502989,2018-10-03,0,0,4,0,5.0,0,4,M
21,502989,2019-02-08,1,1,4,1,6.0,1,4,M
22,506808,2013-05-08,1,1,4,0,5.0,0,4,M
23,506808,2013-05-24,1,1,4,1,6.0,1,4,M
24,506808,2013-09-11,1,1,4,1,6.0,1,4,M
25,506808,2013-10-02,1,1,4,1,6.0,1,4,M
26,506808,2014-09-30,1,1,4,1,6.0,1,4,M
27,506808,2014-12-16,1,1,4,1,6.0,1,4,M
28,506808,2015-02-05,1,1,4,1,6.0,1,4,M
29,506808,2015-02-14,1,1,4,1,6.0,1,4,M
...,...,...,...,...,...,...,...,...,...,...
4743,1997065,2015-01-16,1,1,4,1,6.0,1,4,M
4744,1997065,2015-07-06,1,1,4,1,6.0,1,4,M
4745,1997065,2015-12-09,1,0,4,0,5.0,0,4,M
4746,1997065,2016-01-22,1,1,4,1,6.0,1,4,M
4747,1997065,2016-06-09,0,0,0,0,4.0,0,0,M
4748,1997065,2017-03-13,1,1,4,1,6.0,1,4,M
4749,1997065,2017-05-23,1,1,4,1,6.0,1,4,M
4750,1997065,2018-02-23,1,1,4,1,5.0,1,4,M
4751,1997065,2018-10-09,1,1,4,1,6.0,1,4,M
4752,1997065,2020-02-19,1,1,4,1,5.0,1,4,M
4753,1997825,2018-07-04,1,1,4,1,6.0,1,4,M
4754,1997825,2019-08-01,0,0,3,0,5.0,0,3,M
4755,1997825,2020-01-16,1,1,4,1,6.0,1,4,M
4756,1998401,2013-01-17,1,1,4,1,6.0,1,4,A-
4757,1998401,2013-07-18,1,1,4,1,5.0,1,4,A-
4758,1998401,2014-01-30,1,1,4,1,5.0,1,4,A-
4759,1998401,2014-02-12,1,1,4,1,5.0,1,4,A-
4760,1998401,2014-03-05,1,1,3,0,4.0,0,3,A-
4761,1998401,2014-10-03,1,1,4,1,6.0,1,4,A-
4762,1998401,2015-10-06,1,1,4,1,6.0,1,4,A-
4763,1998401,2016-01-13,1,1,4,1,6.0,1,4,A-
4764,1998401,2016-01-25,0,0,3,1,6.0,0,3,A-
4765,1998401,2016-06-02,1,1,4,0,5.0,0,4,A-
4766,1998401,2016-09-12,0,0,4,1,6.0,0,4,A-
4767,1998401,2018-01-29,1,1,4,1,6.0,1,4,A-
4768,1999536,2018-08-08,1,1,4,1,6.0,1,4,A
4769,1999536,2020-02-22,1,1,4,1,6.0,1,4,A
4770,1999629,2018-04-06,1,1,4,1,6.0,1,4,A
4771,1999629,2018-05-04,1,1,4,1,6.0,1,4,A
4772,1999629,2018-10-08,1,1,4,1,6.0,1,4,A

In [17]:
#Adher1=Adher1[Adher1.cuantitativo_ponderado.isin([3,2,1,0])]

In [18]:
#Adher1.drop(Adher1[Adher1['cuantitativo_ponderado'] == 4 ].index, inplace = True) 
#Adher1.drop('500588', level='id')

In [19]:
#adherence = adherence.drop(adherence[adherence.cuantitativo_ponderado < 3.1].index, inplace = True)

In [20]:
#adherence

In [21]:
#sec = Adher1.loc[1995390] 
#sec

In [22]:
#adherence['cuantitativo_ponderado'] = adherence['cuantitativo_ponderado'].astype('int64')

In [23]:
#Adher1['cuantitativo_ponderado'].mean()

In [24]:
#Adher1

In [25]:
#adherence['cuantitativo_ponderado'].unique()

In [26]:
#adherence.groupby('id').cuantitativo_ponderado.sum()

In [27]:
#adherence[adherence.id==1995390].cuantitativo_ponderado.count()