# Exploratory Data Analysis (EDA) for dataset Act_Disaggregated

In [10]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import json
import requests
#import geopandas as gpd
%matplotlib inline

In [11]:
act = pd.read_excel(f'../Data/ACT.xlsx')

In [12]:
act_cp = act.copy()
act_cp.columns

Index(['ID', 'DS_NOMBRE', 'NM_PUNTAJE', 'DS_RESULTADO', 'FE_RESULTADO'], dtype='object')

In [13]:
act_cp

,ID,DS_NOMBRE,NM_PUNTAJE,DS_RESULTADO,FE_RESULTADO
0,502989,Prueba de control del Asma ACT,24,NO totalmente controlada,2014-10-28 13:24:49
1,502989,Prueba de control del Asma ACT,24,NO totalmente controlada,2014-10-28 13:24:49
2,502989,Prueba de control del Asma ACT,24,NO totalmente controlada,2014-10-28 13:24:49
3,502989,Prueba de control del Asma ACT,24,NO totalmente controlada,2014-10-28 13:24:49
4,502989,Prueba de control del Asma ACT,24,NO totalmente controlada,2014-10-28 13:24:49
...,...,...,...,...,...
15085,1999629,Prueba de control del Asma ACT,24,NO totalmente controlada,2018-09-25 13:58:35
15086,1999629,Prueba de control del Asma ACT,24,NO totalmente controlada,2018-09-25 13:58:35
15087,1999629,Prueba de control del Asma ACT,24,NO totalmente controlada,2018-09-25 13:58:35
15088,1999629,Prueba de control del Asma ACT,24,NO totalmente controlada,2018-09-25 13:58:35
15089,1999629,Prueba de control del Asma ACT,24,NO totalmente controlada,2018-09-25 13:58:35

In [14]:
act_cp.rename(columns={
    'ID':'id_patient',
    'DS_NOMBRE':'test_name',
    'NM_PUNTAJE':'act_score',
    'DS_RESULTADO':'result',
    'FE_RESULTADO':'date_result'
}, inplace = True)
act_cp.groupby('result').count()

                          id_patient  test_name  act_score  date_result
result
NO totalmente controlada        6442       6442       6442         6442
Totalmente controlada           1722       1722       1722         1722
no esta controlada              6926       6926       6926         6926

In [15]:
act_cp.loc[act_cp['result']=="no esta controlada","result"]=0
act_cp.loc[act_cp['result']=="NO totalmente controlada","result"]=1
act_cp.loc[act_cp['result']=="Totalmente controlada","result"]=2
act_cp_final = act_cp.drop(columns="test_name",axis=1)
act_cp_final

       id_patient  act_score result         date_result
0          502989         24      1 2014-10-28 13:24:49
1          502989         24      1 2014-10-28 13:24:49
2          502989         24      1 2014-10-28 13:24:49
3          502989         24      1 2014-10-28 13:24:49
4          502989         24      1 2014-10-28 13:24:49
...           ...        ...    ...                 ...
15085     1999629         24      1 2018-09-25 13:58:35
15086     1999629         24      1 2018-09-25 13:58:35
15087     1999629         24      1 2018-09-25 13:58:35
15088     1999629         24      1 2018-09-25 13:58:35
15089     1999629         24      1 2018-09-25 13:58:35

[15090 rows x 4 columns]

In [16]:
act_cp_final.nunique()

id_patient      458
act_score        21
result            3
date_result    1710
dtype: int64

Therefore we have 458 patients and 15090 records.

In [17]:
act_cp_final.to_csv('./data/cleansed/act.csv', sep=',')