In [1]:
import omnivida_loader as ov
import copy
import pandas as pd
import numpy as np

In [2]:
adherence, adherence_change = ov.get_adherence_dataset() 
ad=copy.deepcopy(adherence) 
Adher = copy.deepcopy(adherence) 
Adher.set_index(['id', 'fe_entrevista'], inplace=True)
Adher.sort_index(inplace=True)

In [3]:
adherence_s= adherence[adherence.cuantitativo_ponderado.isin([3,2,1,0])]
adherence_n= adherence[adherence.cuantitativo_ponderado.isin([4])]

In [4]:
Todos=ad['id'].unique()                  #List of all of the ids.

id_list_s_not=adherence_s['id'].unique() #List of id's that are not 'siempre'
ads = ad[~ad['id'].isin(id_list_s_not)]  #ads : Dataframe of id's that are always adherent.

id_list_n_not=adherence_n['id'].unique() #List of id's that are not 'nunca'
adn = ad[~ad['id'].isin(id_list_n_not)]  #adn : Dataframe of id's that never were adherent.

Siempre_ad=ads['id'].unique()            #List of id's that are 'siempre'
Nunca_ad=adn['id'].unique()              #List of id's that are 'nunca'

Intermitentes = [x for x in Todos if x not in Siempre_ad]
Intermitentes = [x for x in Intermitentes if x not in Nunca_ad]
Intermitentes = np.array(Intermitentes)  #Intermitentes: list of id's that are 'Intermitent'

Todosmenosint=[x for x in Todos if x not in Intermitentes] 
Todosmenosint = np.array(Todosmenosint)  #List of id's that are 'Intermitent'

adi = ad[~ad['id'].isin(Todosmenosint)]  #adi: Dataframe of id's that has intermitent adherence.
# zzz=adi['id'].unique()                 #list of id's that are 'Intermitent' == Intermitentes.

In [5]:
Nunca_ad;  #Lista de ids que nucna fueron adherentes.
Siempre_ad; #Lista de ids que siempre fueron adherentes.
Intermitentes; #LIsta de los ids que estan intermitentes.

In [6]:
ads; #ads : Dataframe of id's that are always adherent.
adn; #adn : Dataframe of id's that never were adherent.
adi; #adi: Dataframe of id's that has intermitent adherence.

In [7]:
first = Adher.loc[524006]  #Para mirara el id especifico en el dataframe original.
first.head(40)

,morisky_green,smaq1,smaq2,espa,nm_espa,cualitativo_ponderado,cuantitativo_ponderado
fe_entrevista,,,,,,,
2015-01-05,1,1,4,1,6.0,1,4
2015-09-10,1,1,4,1,6.0,1,4
2015-10-13,0,0,4,0,4.0,0,4
2015-11-09,0,0,4,1,6.0,0,4
2016-06-02,1,1,4,1,6.0,1,4
2016-10-07,1,1,4,1,6.0,1,4
2016-11-08,1,1,4,1,6.0,1,4
2017-01-27,1,1,4,1,6.0,1,4
2017-04-12,1,1,4,1,6.0,1,4
2017-05-10,0,0,3,1,6.0,0,3
2017-07-28,1,1,4,1,6.0,1,4
2017-08-25,1,1,4,1,6.0,1,4
2018-10-03,1,1,4,1,6.0,1,4
2019-05-28,1,1,4,1,6.0,1,4

In [8]:
adi=copy.deepcopy(adi) 
adi['cuantitativo_ponderado'] = adi['cuantitativo_ponderado'].astype('int64')
second = adi.groupby('id').cuantitativo_ponderado.mean()  #Sortearlo por el promedio.
second = pd.DataFrame(data=second)

In [9]:
#Aqui faltaria segmentar los ids por el top25% el bottom25% y los del medio.
#Asignar a cada id las categorias nuevas: siempre adherente, adherente(-) , medio, no adherente(+), Nunca adherente.
second[['cuantitativo_ponderado']].sort_values(by = 'cuantitativo_ponderado', ascending=True)
#top25 = a+
#medio = M
#bottom25 = n+

         cuantitativo_ponderado
id
1696323                2.250000
916864                 2.250000
724929                 2.500000
782720                 2.500000
1940079                2.500000
...                         ...
524006                 3.928571
715676                 3.928571
1263349                3.933333
1394607                3.944444
1132214                3.964286

[261 rows x 1 columns]

In [10]:
#Adher1=Adher1[Adher1.cuantitativo_ponderado.isin([3,2,1,0])]

In [11]:
#Adher1.drop(Adher1[Adher1['cuantitativo_ponderado'] == 4 ].index, inplace = True) 
#Adher1.drop('500588', level='id')

In [12]:
#adherence = adherence.drop(adherence[adherence.cuantitativo_ponderado < 3.1].index, inplace = True)

In [13]:
#adherence

In [14]:
#sec = Adher1.loc[1995390] 
#sec

In [15]:
#adherence['cuantitativo_ponderado'] = adherence['cuantitativo_ponderado'].astype('int64')

In [16]:
#Adher1['cuantitativo_ponderado'].mean()

In [17]:
#Adher1

In [18]:
#adherence['cuantitativo_ponderado'].unique()

In [19]:
#adherence.groupby('id').cuantitativo_ponderado.sum()

In [20]:
#adherence[adherence.id==1995390].cuantitativo_ponderado.count()